

#image{
    float: right;

}

::-webkit-input-placeholder { /* Edge */
    color: red;
}

:-ms-input-placeholder { /* Internet Explorer */
    color: red;
}

::placeholder {
    color: red;
}

#contactForm{
    display: flex;
    justify-content: center;
    background-color: #F0F0F0;
    border: 5px solid #666666;

}

#contactFormP{
    text-align: center;
}