
<!-- Below is the Loader Animation for Page Using NPM loader-->
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#0000CD"
  type="pacman">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- Loader Animation Ends Here-->

<mat-toolbar>Registration Form </mat-toolbar>
<mat-card>
  <form (submit)="onAddPost2(postForm2)" #postForm2="ngForm">
    <mat-form-field id="nameb">User Name<hr>
      <input
        matInput
        type="text"
        name="user"
        ngModel
        required
        minlength="3"
        #user="ngModel">
    </mat-form-field>
    <mat-form-field id="title">Password<hr>
      <input
        matInput
        type="text"
        name="pass"
        ngModel
        required
        minlength="3"
        #pass="ngModel">
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit">Register</button>
  </form>
</mat-card>


